$icomoon-font-family: "TheBasics" !default;
$icomoon-font-path: "fonts" !default;

$icon-Close: "\e900";
$icon-Copy: "\e901";
$icon-Down: "\e902";
$icon-File: "\e903";
$icon-Filled: "\e904";
$icon-Left: "\e905";
$icon-Menu: "\e906";
$icon-Outlined: "\e907";
$icon-Right: "\e908";
$icon-ToBottom: "\e909";
$icon-ToLeft: "\e90a";
$icon-ToRight: "\e90b";
$icon-ToTop: "\e90c";
$icon-Up: "\e90d";

